<h1>Send a Friend Some Files</h1>
<% if @shipment.errors.any? %>
  <h3>Please correct these problems:</h3>
  <ul>
    <% @shipment.errors.full_messages.each do |message| %>
      <li class="alert alert-danger"><%= message %></li>
    <% end %>
  </ul>
<% end %>

  <%= form_for @shipment, :url => shipments_path, :html => { :multipart => true } do |main_form| %>
    <%= main_form.label :name, 'Your name' %>
    <%= main_form.text_field :name %>
    <%= main_form.label :user_email, 'Your email' %>
    <%= main_form.email_field :user_email %>
    <%= main_form.label :recipient_email, 'Your friend\'s email' %>
    <%= main_form.email_field :recipient_email %>
    <%= main_form.label :message, 'Include a message for your friend' %>
    <%= main_form.text_field :message %>
    <div>
      <%= main_form.fields_for :packages, @shipment.packages.new do |f| %>
        <%= f.hidden_field :shipment_id %>
        <%= f.label :doc, 'Upload File' %>
        <%= f.file_field :doc %>
      <% end %>
    </div>
  <%= main_form.submit "submit", :class => "btn btn-primary" %>
<% end %>
